<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      测试页面
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  测试页面路由
  <ion-button (click)="onClick1()" expand="block" fill="clear" shape="round">
    去测试1
  </ion-button>
  <ion-button (click)="onClick2()" expand="block" fill="clear" shape="round">
    去测试2
  </ion-button>
  <ion-button (click)="onClick3()" expand="block" fill="clear" shape="round">
    消息页面
  </ion-button>
  <ion-button (click)="onActionSheet()" expand="block" fill="clear" shape="round">
    Action Sheet
  </ion-button>
  <ion-button (click)="onBrower()" expand="block" fill="clear" shape="round">
    Brower
  </ion-button>
  <ion-button (click)="onDevice()" expand="block" fill="clear" shape="round">
    Device
  </ion-button>
  <ion-button (click)="onShare()" expand="block" fill="clear" shape="round">
    分享
  </ion-button>
</ion-content>